.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    grid-gap: 10px;
}
h1{
    font-size:50px;
}
h2{
    font-size: 40px;
    
}
li{
    font-size: 35px;
   
}

.box{
    background: lightseagreen;
    padding: 20px;
    color: white;
    text-align: center;
}

.box1{
    grid-column: 1/4;
    color: black;
    background-color: aquamarine;
    

}
.box2{
    grid-row: 2 / 3 ;
    background-color: lightskyblue;
    


}
.box3{
    grid-column: 2 /4;
    text-align: left;
}
.box4{
    grid-column: 2/4;
    text-align: left;

}
.box5{
    grid-column: 2/4;
    text-align: left;
}
.box6{
    grid-row: 3/ 5;
    background-color: lightskyblue;
    color: black;
    text-align: justify;

}